{% set current_route = app.request.get('_route') %}
<nav>
    <ul>
        <li class="{{ current_route in ['dashboard', 'projects', 'inbox', 'koalati_news'] ? 'active' : '' }}">
            <a href="{{ path('dashboard') }}">
                <i class="far fa-gauge-simple"></i>
                <span>{% trans %}navigation.dashboard.label{% endtrans %}</span>
            </a>
        </li>
        <li class="{{ current_route starts with "project_" ? 'active' : '' }}">
            <a href="{{ project is defined and project.id ? path('project_dashboard', {id: project.id}) : path('project_shortcut') }}">
                <i class="far fa-laptop-mobile"></i>
                <span>{% trans %}navigation.project.label{% endtrans %}</span>
            </a>
			<ul>
				{% if project is defined and project.id %}
					<li class="{{ current_route in ['project_dashboard'] ? 'active' : '' }}">
						<a href="{{ path('project_dashboard', {id: project.id}) }}">
							{% trans %}navigation.project.sublink.overview{% endtrans %}
						</a>
					</li>
					<li class="{{ current_route in ['project_checklist'] ? 'active' : '' }}">
						<a href="{{ path('project_checklist', {id: project.id}) }}">
							{% trans %}navigation.project.sublink.checklist{% endtrans %}
						</a>
					</li>
					<li class="{{ current_route in ['project_testing'] ? 'active' : '' }}">
						<a href="{{ path('project_testing', {id: project.id}) }}">
							{% trans %}navigation.project.sublink.automated_testing{% endtrans %}
						</a>
					</li>
					<li class="{{ current_route in ['project_settings', 'project_settings_team', 'project_settings_automated_testing', 'project_settings_checklist'] ? 'active' : '' }}">
						<a href="{{ path('project_settings', {id: project.id}) }}">
							{% trans %}navigation.project.sublink.settings{% endtrans %}
						</a>
					</li>
				{% elseif current_route == "project_creation" %}
					<li class="active">
						<a href="#" aria-current="page">{% trans %}navigation.project.creation_pending{% endtrans %}</a>
					</li>
				{% endif %}
			</ul>
        </li>
        {#
		<li class="{{ current_route in ['resources'] ? 'active' : '' }}">
            <a href="#">
                <i class="far fa-toolbox"></i>
                <span>{% trans %}navigation.resources.label{% endtrans %}</span>
            </a>
            <ul>
            </ul>
        </li>
		#}
        <li class="{{ current_route in ['organization_dashboard', 'organization_create', 'organization_settings', 'organization_leave'] ? 'active' : '' }}">
            <a href="{{ path('organization_dashboard') }}">
                <i class="far fa-users"></i>
                <span>{% trans %}navigation.team.label{% endtrans %}</span>
            </a>
			<ul>
				{% if organization is defined %}
					<li class="{{ current_route in ['organization_dashboard'] ? 'active' : '' }}">
						<a href="{{ path('organization_dashboard', {id: organization.id}) }}">
							{% trans %}navigation.team.sublink.dashboard{% endtrans %}
						</a>
					</li>
					{% if is_granted("manage", organization) %}
						<li class="{{ current_route in ['organization_settings'] ? 'active' : '' }}">
							<a href="{{ path('organization_settings', {id: organization.id}) }}">
								{% trans %}navigation.team.sublink.settings{% endtrans %}
							</a>
						</li>
					{% endif %}
					<li class="{{ current_route in ['organization_leave'] ? 'active' : '' }}">
						<a href="{{ path('organization_leave', {id: organization.id}) }}">
							{% trans %}navigation.team.sublink.leave{% endtrans %}
						</a>
					</li>
				{% else %}
					<li class="active">
						<a href="{{ path('organization_create') }}">
							{% trans %}navigation.team.sublink.create{% endtrans %}
						</a>
					</li>
				{% endif %}
			</ul>
        </li>
        <li class="{{ current_route in ['edit_profile', 'manage_account_security', 'manage_contact_preferences', 'manage_subscription'] ? 'active' : '' }}">
            <a href="{{ path('edit_profile') }}">
                <i class="far fa-gear"></i>
                <span>{% trans %}navigation.settings.label{% endtrans %}</span>
            </a>
        </li>
        <li class="{{ current_route in ['help'] ? 'active' : '' }}">
            <a href="{{ path('help') }}">
                <i class="far fa-circle-question"></i>
                <span>{% trans %}navigation.help.label{% endtrans %}</span>
            </a>
        </li>
    </ul>
</nav>
