{% set current_route = app.request.get('_route') %}
<nav>
    <ul>
        <li class="{{ current_route in ['dashboard', 'projects', 'inbox', 'koalati_news'] ? 'active' : '' }}">
            <a href="{{ path('dashboard') }}">
                <i class="far fa-gauge-simple"></i>
                <span>{% trans %}navigation.dashboard.label{% endtrans %}</span>
            </a>
        </li>
        <li class="{{ current_route in ['project_dashboard'] ? 'active' : '' }}">
            <a href="{{ project is defined ? path('project_dashboard', {id: project.id}) : path('project_shortcut') }}">
                <i class="far fa-laptop-mobile"></i>
                <span>{% trans %}navigation.project.label{% endtrans %}</span>
            </a>
            <ul>
                <li class="{{ current_route in ['project_dashboard'] ? 'active' : '' }}">
                    <a href="#">
                        {% trans %}navigation.project.sublink.overview{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        {% trans %}navigation.project.sublink.checklist{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        {% trans %}navigation.project.sublink.automated_testing{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        {% trans %}navigation.project.sublink.settings{% endtrans %}
                    </a>
                </li>
            </ul>
        </li>
        <li class="{{ current_route in ['resources'] ? 'active' : '' }}">
            <a href="#">
                <i class="far fa-toolbox"></i>
                <span>{% trans %}navigation.resources.label{% endtrans %}</span>
            </a>
            <ul>
            </ul>
        </li>
        <li class="{{ current_route in ['team'] ? 'active' : '' }}">
            <a href="#">
                <i class="far fa-users"></i>
                <span>{% trans %}navigation.team.label{% endtrans %}</span>
            </a>
            <ul>
            </ul>
        </li>
        <li class="{{ current_route in ['settings'] ? 'active' : '' }}">
            <a href="#">
                <i class="far fa-gear"></i>
                <span>{% trans %}navigation.settings.label{% endtrans %}</span>
            </a>
            <ul>
            </ul>
        </li>
        <li class="{{ current_route in ['help'] ? 'active' : '' }}">
            <a href="#">
                <i class="far fa-circle-question"></i>
                <span>{% trans %}navigation.help.label{% endtrans %}</span>
            </a>
        </li>
    </ul>
</nav>
