{% extends 'base.html.twig' %}

{% block title %}{% trans %}login.page_title{% endtrans %}{% endblock %}

{% block head %}
	<link rel="canonical" href="{{ url("login") }}">
	<style>
		form { width: 40ch; max-width: 100%; }
		form a { color: var(--color-blue); text-decoration: underline; }
		form a:hover { color: var(--color-blue-dark); text-decoration: underline; }

		@media (prefers-color-scheme: dark) {
			form a { color: var(--color-blue-faded); }
		}
	</style>
{% endblock %}

{% block body %}
	<div class="wave-hero">
		<div>
			<header>
				<a href="https://www.koalati.com" class="brand-logo">
					<img src="{{ asset("media/brand/koalati-logo.svg") }}" alt="Koalati" width="150" loading="lazy">
				</a>
			</header>
			<section id="form-section">
				<div class="container center column">
					<h1>{% trans %}login.form.title{% endtrans %}</h1>

					<form method="post">
						{% if error %}
							<fieldset class="errors">
								<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							</fieldset>
						{% endif %}

						<fieldset>
							<nb-input type="email" value="{{ last_username }}" name="email" id="input-email" label="{% trans %}login.form.field.email{% endtrans %}" required autofocus></nb-input>
						</fieldset>

						<fieldset>
							<nb-input type="password" name="password" id="input-password" label="{% trans %}login.form.field.password{% endtrans %}" required></nb-input>
							<a href="{{ path('app_forgot_password_request') }}" class="text-smaller">
								{% trans %}login.forgot_password{% endtrans %}
							</a>
						</fieldset>

						<fieldset class="checkbox">
							<nb-checkbox name="_remember_me" label="{% trans %}login.form.field.remember_me{% endtrans %}"></nb-checkbox>
						</fieldset>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<hr>

						<div class="button-container center">
							<nb-button type="submit" id="submit">
								{% trans %}login.form.submit_label{% endtrans %}
							</nb-button>
						</div>
					</form>
				</div>
			</section>
		</div>
		<div class="wave-section">
			<div class="container center column">
				<strong class="text-large">{% trans %}login.no_account{% endtrans %}</strong>

				{% if not signup_allowed %}
					{% trans %}login.ask_for_an_invite{% endtrans %}
				{% else %}
					<nb-button href="{{ path('registration') }}" color="white">{% trans %}login.register{% endtrans %}</nb-button>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
