{% extends 'app_base.html.twig' %}
{% from 'app/_macros/testing.html.twig' import recommendation_card %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/component/testing/recommendations.css') }}">
{% endblock %}

{% block title %}{% trans %}project_testing.title{% endtrans %}{% endblock %}
{% block section_title %}{{ 'generic.project_section_title'|trans({'%name%': project.name}) }}{% endblock %}

{% block body %}
    <div class="grid small-fill">
		{% if project.activeRecommendationGroups|length %}
			{{ recommendation_card((project.activeRecommendationGroups|first).sample, "recommendation.next"|trans) }}
		{% else %}
			<div class="card empty-state">
				<h3>{% trans %}recommendation.empty_state.title{% endtrans %}</h3>
				<p>{% trans %}recommendation.empty_state.explanation{% endtrans %}</p>
			</div>
		{% endif %}
        <div class="card secondary">
			<h3>How does this work?</h3>
			<p>Koalati analyzes your website to find problems and potential improvements.</p>
			<ul class="bullet-list">
				<li><strong class="text-red">Issues</strong> are problems that should be fixed right away.</li>
				<li><strong class="text-blue-faded">Essentials</strong> are improvements with a good impact on user experience or SEO. </li>
				<li><strong class="text-blue-gray">Optimizations</strong> are additional improvement recommandations that should only be done once the issues and essentials are covered.</li>
			</ul>
		</div>
	</div>

	<hr class="spacer">

	<recommendation-list projectId="{{ project.id }}"></recommendation-list>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('testing') }}
{% endblock %}
