{% extends 'app_base.html.twig' %}
{% from 'app/_macros/project.html.twig' import project_breadcrumb_link %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/component/testing/recommendations.css') }}">
	{{ encore_entry_script_tags('testing') }}
{% endblock %}

{% block title %}{% trans %}project_testing.title{% endtrans %}{% endblock %}
{% block section_title %}{{ project_breadcrumb_link(project) }}{% endblock %}

{% block page_actions %}
	<nb-button href="{{ path("project_settings_automated_testing", {id: project.id|hashids_encode}) }}#ignored" color="gray" class="tablet-hidden">
		{% trans %}recommendation.view_settings{% endtrans %}
	</nb-button>
	<request-testing-button projectId="{{ project.id|hashids_encode }}">
		<span class="mobile-hidden">
			{% trans %}recommendation.run_again{% endtrans %}
			&nbsp;
		</span>
		<i class="far fa-rotate"></i>
	</request-testing-button>
{% endblock %}

{% block body %}
	<div class="grid small-fill">
		<div class="card centered">
			<recommendation-progress-indicator projectId="{{ project.id|hashids_encode }}"></recommendation-progress-indicator>
		</div>
		<div class="card">
			<h3>{% trans %}project_testing.explanation.heading{% endtrans %}</h3>
			<p>{% trans %}project_testing.explanation.intro{% endtrans %}</p>
			<ul class="bullet-list">
				<li>
					{% trans with {"%type%": '<strong class="text-red">' ~ 'project_testing.explanation.type.issue'|trans ~ '</strong>'} %}
						project_testing.explanation.items.issue
					{% endtrans %}
				</li>
				<li>
					{% trans with {"%type%": '<strong class="text-blue-faded">' ~ 'project_testing.explanation.type.essential'|trans ~ '</strong>'} %}
						project_testing.explanation.items.essential
					{% endtrans %}
				</li>
				<li>
					{% trans with {"%type%": '<strong class="text-blue-gray">' ~ 'project_testing.explanation.type.optimization'|trans ~ '</strong>'} %}
						project_testing.explanation.items.optimization
					{% endtrans %}
				</li>
			</ul>
		</div>
	</div>

	<hr class="spacer">

	<recommendation-list projectId="{{ project.id|hashids_encode }}" organizationId="{{ project.ownerOrganization ? project.ownerOrganization.id|hashids_encode : null }}"></recommendation-list>
{% endblock %}
