{% extends 'app_base.html.twig' %}
{% from 'app/_macros/project.html.twig' import project_breadcrumb_link %}

{% set active_filter = app.request.get('filter') in ["unresolved", "commented", "completed", "todo"] ? app.request.get('filter') : null %}

{% block title %}{% trans %}project_checklist.overview.title{% endtrans %}{% endblock %}
{% block section_title %}{{ project_breadcrumb_link(project) }}{% endblock %}
{% block head %}
	{{ encore_entry_link_tags('checklist') }}

	<style>
		project-checklist { display: block !important; min-height: 100vh; }
	</style>
{% endblock %}

{% block page_tabs %}
	{% include 'app/_parts/page_tabs.html.twig' with {page_tabs: [
		{label: 'project_checklist.tabs.overview', route: 'project_checklist', route_params: {id: project.id}},
	]} %}
	{#label: 'project_checklist.tabs.detailed', route: 'project_checklist_detailed', route_params: {id: project.id}#}
{% endblock %}

{% block page_actions %}
	<nb-dropdown id="checklist-filter-toggle" class="align-right" color="{{ active_filter ? "blue" : "gray" }}" reveal-on-hover>
		<span slot="toggle">{{ ("project_checklist.filter." ~ (active_filter ?: "no_filter"))|trans }}</span>
		<option value="">{% trans %}project_checklist.filter.no_filter{% endtrans %}</option>
		<option value="unresolved">{% trans %}project_checklist.filter.unresolved{% endtrans %}</option>
		<option value="commented">{% trans %}project_checklist.filter.commented{% endtrans %}</option>
		<option value="completed">{% trans %}project_checklist.filter.completed{% endtrans %}</option>
		<option value="todo">{% trans %}project_checklist.filter.todo{% endtrans %}</option>
	</nb-dropdown>
{% endblock %}

{% block body %}
	<project-checklist projectId="{{ project.id|hashids_encode }}" filter="{{ active_filter }}"></project-checklist>

	<hr class="thick">

	<div class="grid">
		<div class="card">
			<h3>Done with the checklist?</h3>
			<p>We tested your site automatically while you were busy.</p>
			<p>Based on the results, we have a few recommendations to help you take your site to the next level.</p>
			<hr class="spacer small">
			<nb-button href="{{ path('project_testing', {id: project.id|hashids_encode}) }}" size="small">Explore recommendations</a>
		</div>
		<div class="card secondary">
			<h3>Feel like something is missing?</h3>
			<p>If you have suggestions on how to improve this checklist, we'd be more than happy to hear them out!</p>
			<feedback-form-toggle displayMode="button" color="light" type="suggestion" defaultMessage="Hey there!&#10;&#10;I have a suggestion to improve the checklist:&#10;&#10;">I have a suggestion!</feedback-form-toggle>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('checklist') }}

	<script type="module">
		const checklist = document.querySelector("project-checklist");
		const filterDropdown = document.querySelector("#checklist-filter-toggle");

		filterDropdown.addEventListener("select", function(e) {
			const filter = e.detail.value;

			checklist.filter = filter;
			filterDropdown.color = filter ? "blue" : "gray";

			// Update the URL
			const url = new URL(window.location.href);

			if (filter) {
				url.searchParams.set("filter", filter);
			} else {
				url.searchParams.delete("filter");
			}

			window.history.replaceState({}, document.title, url.toString());
		});
	</script>
{% endblock %}
