{% extends 'app_base.html.twig' %}

{% block title %}{% trans %}project_creation.title{% endtrans %}{% endblock %}

{% block body %}
	{{ form_start(form) }}
		<div class="grid fill-small">
			<div class="card">
				{{ form_row(form.name) }}
				{{ form_row(form.url) }}
				{{ form_row(form.owner) }}
			</div>
			<div class="card">
				<h2>{% trans %}generic.advanced_settings{% endtrans %}</h2>
				{{ form_row(form.useCanonicalPageUrls) }}
			</div>
		</div>

		{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
