{% extends 'app_base.html.twig' %}

{% block title %}{% trans %}project_dashboard.title{% endtrans %}{% endblock %}
{% block section_title %}{{ project.name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/component/thumbnail.css') }}">
	<style>
	.progress-bar { display: block; width: 100%; height: 2rem; position: relative; --progress-bar-color: var(--color-blue-20); --progress-background-color: var(--color-gray-lighter); }
	.progress-bar.main { height: 3rem; --progress-bar-color: var(--color-blue-80); --progress-background-color: var(--color-blue-10);}
	.progress-bar label { display: flex; align-items: center; font-size: .8rem; font-weight: 500; color: var(--color-blue-dark); position: absolute; top: 0; bottom: 0; left: .5rem; }
	.progress-bar progress { display: block; width: 100%; height: 100%; margin: 0; padding: 0; vertical-align: top; -webkit-appearance: none; appearance: none; }
	.progress-bar progress::-webkit-progress-bar { background: transparent; border: 2px solid var(--progress-bar-color); border-radius: 5px; }
	.progress-bar progress::-webkit-progress-value { background: var(--progress-bar-color); }
	.progress-bar progress::after { content:  attr(value) "%"; display: flex; align-items: center; color: var(--color-blue-dark); position: absolute; top: 0; bottom: 0; right: .5rem; }
	.progress-bar progress[value="0"]::after { color: var(--color-gray); }

	li.progress-bar {
		margin-bottom: .8rem;
	}
</style>
{% endblock %}

{% block body %}
	<div class="grid">
		<div class="card">
			<h2>{% trans %}project_dashboard.up_next.title{% endtrans %}</h2>

			{% if not project.checklist or project.checklist.completedItems|length == 0 %}
				{% trans with {"%projectName%": project.name} %}project_dashboard.up_next.not_started.explanation{% endtrans %}
				<hr>
				<div class="button-container margin-top">
					<nb-button href="{{ path('project_checklist', {id: project.id|hashids_encode}) }}">{% trans %}project_dashboard.up_next.not_started.cta{% endtrans %}</nb-button>
				</div>
			{% elseif not project.checklist.completed %}
				{% trans with {"%projectName%": project.name} %}project_dashboard.up_next.checklist_started.explanation{% endtrans %}
				<hr>
				<div class="button-container margin-top">
					<nb-button href="{{ path('project_checklist', {id: project.id|hashids_encode}) }}">{% trans %}project_dashboard.up_next.checklist_started.cta{% endtrans %}</nb-button>
				</div>
			{% elseif project.activeRecommendationGroups|length %}
				{% trans with {"%recommendationCount%": project.activeRecommendationGroups|length, "%projectName%": project.name} %}project_dashboard.up_next.implement_recommendations.explanation{% endtrans %}
				<hr>
				<div class="button-container margin-top">
					<nb-button href="{{ path('project_testing', {id: project.id|hashids_encode}) }}">{% trans %}project_dashboard.up_next.implement_recommendations.cta{% endtrans %}</nb-button>
				</div>
			{% elseif not project.recommendations|length %}
				{% trans with {"%projectName%": project.name} %}project_dashboard.up_next.generate_recommendations.explanation{% endtrans %}
				<hr>
				<div class="button-container margin-top">
					<nb-button href="{{ path('project_testing', {id: project.id|hashids_encode}) }}">{% trans %}project_dashboard.up_next.generate_recommendations.cta{% endtrans %}</nb-button>
				</div>
			{% else %}
				{% trans with {"%projectName%": project.name} %}project_dashboard.up_next.all_done.explanation{% endtrans %}
			{% endif %}
		</div>

		<div class="card">
			<h2>{% trans %}project_dashboard.summary.title{% endtrans %}</h2>

			<ul class="bullet-list">
				<li>
					<strong>{% trans %}project_dashboard.summary.step.checklist.title{% endtrans %}:</strong>

					{% if not project.checklist or project.checklist.completedItems|length == 0 %}
						<span class="text-highlight red">{% trans %}project_dashboard.summary.step.checklist.not_started{% endtrans %}</span>
					{% elseif project.checklist.completed %}
						<span class="text-highlight green">{% trans %}project_dashboard.summary.step.checklist.completed{% endtrans %}</span>
					{% else %}
						<span class="text-highlight orange">{% trans %}project_dashboard.summary.step.checklist.in_progress{% endtrans %}</span>
					{% endif %}
				</li>
				<li>
					<strong>{% trans %}project_dashboard.summary.step.recommendations.title{% endtrans %}:</strong>

					{% if project.activeRecommendationGroups|length %}
						<span class="text-highlight orange">{% trans with {"%count%": project.activeRecommendationGroups|length} %}project_dashboard.summary.step.recommendations.count{% endtrans %}</span>
					{% else %}
						{% if project.recommendations|length %}
							<span class="text-highlight green">{% trans %}project_dashboard.summary.step.recommendations.completed{% endtrans %}</span>
						{% else %}
							<span class="text-highlight red">{% trans %}project_dashboard.summary.step.recommendations.not_scanned{% endtrans %}</span>
						{% endif %}
					{% endif %}
				</li>
				<li>
					<strong>{% trans %}project_dashboard.summary.step.comments.title{% endtrans %}:</strong>

					{% if project.commentCount == 0 %}
						<span class="text-gray">{% trans %}project_dashboard.summary.step.comments.none{% endtrans %}</span>
					{% else %}
						{% if project.unresolvedCommentCount == 0 %}
							<span class="text-highlight green">{% trans %}project_dashboard.summary.step.comments.resolved{% endtrans %}</span>
						{% else %}
							<span class="text-highlight red">{% trans with {"%count%": project.unresolvedCommentCount} %}project_dashboard.summary.step.comments.unresolved_count{% endtrans %}</span>
						{% endif %}
					{% endif %}
				</li>
			</ul>
		</div>
	</div>

	<hr class="spacer small">

	<div class="grid cols-4">
		<a href="{{ path('project_checklist', {id: project.id|hashids_encode}) }}" class="clickable-thumbnail">
			<div class="thumbnail">
				<img src="{{ asset('media/feature-thumbnail/checklist.png') }}" alt="" loading="lazy">
			</div>
			<div class="info">
				<div class="name">{% trans %}project_dashboard.links.checklist{% endtrans %}</div>
				<i class="far fa-angle-right"></i>
			</div>
		</a>
		<a href="{{ path('project_testing', {id: project.id|hashids_encode}) }}" class="clickable-thumbnail">
			<div class="thumbnail">
				<img src="{{ asset('media/feature-thumbnail/recommendations.png') }}" alt="" loading="lazy">
			</div>
			<div class="info">
				<div class="name">{% trans %}project_dashboard.links.recommendations{% endtrans %}</div>
				<i class="far fa-angle-right"></i>
			</div>
		</a>
		<a href="{{ path('project_settings', {id: project.id|hashids_encode}) }}" class="clickable-thumbnail">
			<div class="thumbnail">
				<img src="{{ asset('media/feature-thumbnail/settings.png') }}" alt="" loading="lazy">
			</div>
			<div class="info">
				<div class="name">{% trans %}project_dashboard.links.settings{% endtrans %}</div>
				<i class="far fa-angle-right"></i>
			</div>
		</a>
	</div>
{% endblock %}
