{% extends 'app_base.html.twig' %}

{% block title %}{% trans %}project_settings.title{% endtrans %}{% endblock %}
{% block section_title %}{{ 'generic.project_section_title'|trans({'%name%': project.name}) }}{% endblock %}

{% block body %}
	{{ form_start(form) }}
		{% set submit_button = form_row(form.save) %}

		<tabbed-container>
			<div id="basic-information">
				<h2>{% trans %}project_settings.tabs.basic_information{% endtrans %}</h2>
				{{ form_row(form.name) }}
				{{ form_row(form.url) }}
				{{ submit_button|raw }}
			</div>

			<div id="team-and-roles">
				<h2>{% trans %}project_settings.tabs.team{% endtrans %}</h2>
				{% trans %}generic.not_yet_implemented{% endtrans %}
				{{ submit_button|raw }}
			</div>

			<div id="automated-testing">
				<h2>{% trans %}project_settings.tabs.automated_testing{% endtrans %}</h2>
				{% trans %}generic.not_yet_implemented{% endtrans %}
				{{ submit_button|raw }}
			</div>

			<div id="checklist">
				<h2>{% trans %}project_settings.tabs.checklist{% endtrans %}</h2>
				{% trans %}generic.not_yet_implemented{% endtrans %}
				{{ submit_button|raw }}
			</div>

			<div id="delete">
				<h2>{% trans %}project_settings.tabs.delete{% endtrans %}</h2>
				<p>{% trans %}project_settings.delete.warning_text{% endtrans %}</p>
				{{ form_row(form.deleteConfirmation) }}
				{{ form_row(form.delete) }}
			</div>
		</tabbed-container>
	{{ form_end(form) }}
{% endblock %}
