<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - {% trans %}branding.name{% endtrans %}</title>

        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/variables.css') }}">
        <link rel="stylesheet" href="{{ asset('css/layout.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/text.css') }}">
        <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/card.css') }}">
		<link rel="stylesheet" href="{{ asset('css/component/input.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/button.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/notice.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/notification.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/floating-dropdown.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/list.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/flash.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/modal.css') }}">
        <link rel="stylesheet" href="{{ asset('ext/fontawesome/css/all.min.css') }}">
        <link rel="preconnect" href="https://api.fonts.coollabs.io">
        <link href="https://api.fonts.coollabs.io/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
 		{{ encore_entry_link_tags('app') }}

		 <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('site.webmanifest') }}">
		<link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
		<meta name="apple-mobile-web-app-title" content="Koalati">
		<meta name="application-name" content="Koalati">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#e4e9fb" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#1d2c5e" media="(prefers-color-scheme: dark)">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head %}{% endblock %}

		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {callback: 'fos.Router.setData'}) }}"></script>
		<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
		<script src="{{ url('bazinga_jstranslation_js') }}?{{ asset_version }}"></script>
        <link rel="stylesheet" href="{{ asset('css/dark-mode.css') }}"  media="(prefers-color-scheme: dark)">

		{% include "_parts/analytics.html.twig" %}

		<script>
			window.CURRENT_USER_ID = "{{ app.user.id|hashids_encode }}";
			window.mercureEventSource = new EventSource("{{ mercure(mercure_topic(app.user), mercure_config(app.user))|escape('js') }}", {
				withCredentials: true
			});
		</script>

        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        {% include 'app/_parts/flash_messages.html.twig' %}

        <header id="sidebar">
            <a href="https://www.koalati.com" id="brand-wrapper">
				<img src="{{ asset("media/brand/koalati-logo.svg") }}" alt="Koalati" loading="lazy">
			</a>

            {% include 'app/_parts/navigation.html.twig' %}
            {% include 'app/_parts/quick_actions.html.twig' %}
        </header>

        <div id="top-bar">
			<div id="top-bar-left-navigation">
				<nb-icon-button id="navigation-toggle" size="small" onclick="document.body.classList.toggle('navigation-open')">
					<i class="fas fa-bars"></i>
				</nb-icon-button>
            	{% block page_tabs %}<ul id="page-tabs"></ul>{% endblock %}
			</div>
            {% include 'app/_parts/global_actions.html.twig' %}
        </div>

        <div id="page-wrapper">
			<div id="page-header">
				<div class="info">
					{% if block('section_title') %}
						<div id="section-title">{% block section_title %}{% endblock %}</div>
					{% endif %}
					<h1>{{ block('title') }}</h1>
				</div>
				<div id="page-actions">
                	{% block page_actions %}{% endblock %}
				</div>
			</div>

            <div id="page-content">
                {% block body %}{% endblock %}
            </div>

			<footer>
				<a href="https://www.koalati.com/terms-of-use">{% trans %}footer.terms_of_service{% endtrans %}</a>
				<a href="https://www.koalati.com/privacy-policy">{% trans %}footer.privacy_policy{% endtrans %}</a>
			</footer>
        </div>

        <search-overlay></search-overlay>

		<script type="module" src="{{ asset('js/base/flash-messages.js') }}"></script>
		<script src="{{ asset('js/base/quick-actions.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
