<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - {% trans %}branding.name{% endtrans %}</title>

        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/variables.css') }}">
        <link rel="stylesheet" href="{{ asset('css/layout.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/card.css') }}">
		<link rel="stylesheet" href="{{ asset('css/component/input.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/button.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/notice.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/notification.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/floating-dropdown.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/list.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/search-overlay.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/tabbed-page.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dark-mode.css') }}">
        <link rel="stylesheet" href="{{ asset('ext/fontawesome/css/all.min.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        {% block head %}{% endblock %}

		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    </head>
    <body>
        <header>
            <div id="brand-wrapper"></div>

            {% include 'app/_parts/navigation.html.twig' %}
            {% include 'app/_parts/quick_actions.html.twig' %}
        </header>

        <div id="top-bar">
            {% block page_tabs %}<ul id="page-tabs"></ul>{% endblock %}
            {% include 'app/_parts/global_actions.html.twig' %}
        </div>

        <div id="page-wrapper">
			<div id="page-header">
				<div class="info">
					{% if block('section_title') %}
						<div id="section-title">{% block section_title %}{% endblock %}</div>
					{% endif %}
					<h1>{{ block('title') }}</h1>
				</div>
				<div id="page-actions">
                	{% block page_actions %}{% endblock %}
				</div>
			</div>

            <div id="page-content">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% include 'app/_parts/search-overlay.html.twig' %}

		<script src="https://unpkg.com/wretch"></script>
		<script src="{{ asset('js/base/quick-actions.js') }}"></script>
		<script src="{{ asset('js/base/search-overlay.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
