<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - {% trans %}branding.name{% endtrans %}</title>

        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/variables.css') }}">
        <link rel="stylesheet" href="{{ asset('css/layout.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/public.css') }}">
        <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/card.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/input.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/button.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/notice.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/notification.css') }}">
        <link rel="stylesheet" href="{{ asset('ext/fontawesome/css/all.min.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
 		{{ encore_entry_link_tags('app') }}

		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('site.webmanifest') }}">
		<link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
		<meta name="apple-mobile-web-app-title" content="Koalati">
		<meta name="application-name" content="Koalati">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#e4e9fb" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#1d2c5e" media="(prefers-color-scheme: dark)">

        {% block head %}{% endblock %}

		<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
		<script src="{{ url('bazinga_jstranslation_js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/dark-mode.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}

		{{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
