<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - {% trans %}branding.name{% endtrans %}</title>

        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/variables.css') }}">
        <link rel="stylesheet" href="{{ asset('css/grid.css') }}">
        <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
        <link rel="stylesheet" href="{{ asset('css/public.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/card.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/input.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/button.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/notice.css') }}">
        <link rel="stylesheet" href="{{ asset('css/component/notification.css') }}">
        <link rel="stylesheet" href="{{ asset('ext/fontawesome/css/all.min.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
