{# Recommendation type (color) #}
{%- macro recommendation_type(type, tag = "span") -%}
	{% set typeColorClasses = { ISSUE: "text-red", ESSENTIAL: "text-blue-faded", OPTIMIZATION: "text-blue-gray" } %}
	<{{ tag }} class="{{ typeColorClasses[type] }} recommendation-type="{{ type }}">{{ ("recommendation.type." ~ type|lower)|trans }}</{{ tag }}>
{%- endmacro -%}

{# Recommendation card #}
{% macro recommendation_card(recommendation, title = "") %}
	<div class="card">
		{% if title %}
			<h3>{{ title }}</h3>
		{% endif %}

		<p>
			{{ recommendation.title }}
			<recommendation-details-link recommendation-id="{{ recommendation.id }}">
				{% trans %}recommendation.view_more{% endtrans %}
			</recommendation-details-link>
		</p>

		<div class="button-container right margin-top small">
			<button type="button" class="small gray">{% trans %}recommendation.ignore{% endtrans %}</button>
			<button type="button" class="small ">{% trans %}recommendation.mark_as_done{% endtrans %}</button>
		</div>
	</div>
{% endmacro %}

{# Recommendation list #}
{% macro recommendation_grouped_list(recommendationGroups) %}
	{% from _self import recommendation_type %}

	<div class="recommendation-list">
		<div class="list-headings">
			<div>{% trans %}recommendation.listing.title{% endtrans %}</div>
			<div>{% trans %}recommendation.listing.type{% endtrans %}</div>
			<div class="text-center">{% trans %}recommendation.listing.occurences{% endtrans %}</div>
			<div></div>
		</div>
		<div class="list">
			{% if recommendationGroups|length %}
				{% for recommendationGroup in recommendationGroups %}
					<div class="list-row recommendation" recommendation-sample-id="{{ recommendationGroup.sample.id }}">
						<div>
							<strong class="name">{{ recommendationGroup.title }}</strong>
							<br>
							<recommendation-details-link recommendation-id="{{ recommendationGroup.sample.id }}">
								<i class="fad fa-circle-info"></i>&nbsp;
								{% trans %}recommendation.view_more{% endtrans %}
							</recommendation-details-link>
						</div>
						<div class="type">{{ recommendation_type(recommendationGroup.type) }}</div>
						<div class="occurences text-center">{{ recommendationGroup|length }}</div>
						<div class="actions text-right">
							<button type="button" class="small gray">{% trans %}recommendation.ignore{% endtrans %}</button>
							<button type="button" class="small icon-only"><i class="fas fa-check"></i></button>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="list-row empty-state">
					<div>{% trans %}recommendation.listing.empty_state{% endtrans %}</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}
