<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }} - {% endif %}Koalati API documentation</title>
	<meta name="description" content="Integrate our suite of QA tools in your workflows and tools with Koalati's API.">
	<meta property="og:image" content="{{ absolute_url(asset("media/docs/api-docs.png")) }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('bundles/apiplatform/fonts/open-sans/400.css', assetPackage) }}">
        <link rel="stylesheet" href="{{ asset('bundles/apiplatform/fonts/open-sans/700.css', assetPackage) }}">
        <link rel="stylesheet" href="{{ asset('bundles/apiplatform/swagger-ui/swagger-ui.css', assetPackage) }}">
        <link rel="stylesheet" href="{{ asset('bundles/apiplatform/style.css', assetPackage) }}">
		<style>
			body { margin-top: 0; background-color: white; }
			/* Logo */
			.menu-content > div:first-child img { height: 60px; margin-top: 1rem; margin-bottom: .5rem; padding-right: 1rem; }
			/* Navigation */
			div.menu-content,
			.menu-content ul li label,
			.menu-content *:has(> [href*="https://redocly.com"]) { background-color: #fafbff; }
			.menu-content ul li label:hover { background-color: #e4e9fb; }
			/* Search */
			[role="search"] [data-role="search:results"] { min-height: 0; max-height: calc(100vh - 30px); padding-bottom: 0; border: none; position: relative; }
			[role="search"] [data-role="search:results"]::before { content: ' '; position: absolute; top: 100%; left: 0; width: 100%; height: 100vh; background: rgba(0, 0, 0, .2); backdrop-filter: blur(3px); z-index: 2; }
			[role="search"] .scrollbar-container:has(> [data-role="search:results"]) { overflow: visible !important; }
			[role="search"] [data-role="search:results"] > * { margin-bottom: 5px; }
			[role="search"] [data-role="search:results"] label { display: block; }
			[role="search"] [data-role="search:results"] label > span:last-child { width: 100% !important; }
			[role="search"] [data-role="search:results"] label > span[type] { margin-bottom: 2px; }
			/* Introduction */
			.api-info h1 { font-size: 2rem; font-weight: 700; line-height: 1.25; }
			.api-info h1 > span { display: block; font-size: 1rem; color: #666; }
			.api-info hr { height: 1px; margin: 3rem 0; background-color: #ddd; border: none; }
			/* Sections */
			[id^="tag/"] { padding-bottom: 0; }
			[id^="tag/"] h1 { font-weight: 700; }
			.api-platform .redoc-markdown code { color: #2a42c3; background-color: #fafbff; border-color: #e4e9fb; }
			.api-platform .redoc-markdown pre { white-space: pre-line; }
			.api-platform .redoc-markdown pre code { color: #fafbff; background-color: transparent; border-color: transparent; }
		</style>
    {% endblock %}

    {% set oauth_data = {'oauth': swagger_data.oauth|merge({'redirectUrl': absolute_url(asset('bundles/apiplatform/swagger-ui/oauth2-redirect.html', assetPackage))})} %}
    {# json_encode(65) is for JSON_UNESCAPED_SLASHES|JSON_HEX_TAG to avoid JS XSS #}
    <script id="swagger-data" type="application/json">{{ swagger_data|merge(oauth_data)|json_encode(65)|raw }}</script>

	{% include '_parts/analytics.html.twig' %}
</head>

<body>
<svg xmlns="http://www.w3.org/2000/svg" style="position:absolute;width:0;height:0">
    <defs>
        <symbol viewBox="0 0 20 20" id="unlocked">
            <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V6h2v-.801C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8z"></path>
        </symbol>

        <symbol viewBox="0 0 20 20" id="locked">
            <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8zM12 8H8V5.199C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8z"></path>
        </symbol>

        <symbol viewBox="0 0 20 20" id="close">
            <path d="M14.348 14.849c-.469.469-1.229.469-1.697 0L10 11.819l-2.651 3.029c-.469.469-1.229.469-1.697 0-.469-.469-.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-.469-.469-.469-1.228 0-1.697.469-.469 1.228-.469 1.697 0L10 8.183l2.651-3.031c.469-.469 1.228-.469 1.697 0 .469.469.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c.469.469.469 1.229 0 1.698z"></path>
        </symbol>

        <symbol viewBox="0 0 20 20" id="large-arrow">
            <path d="M13.25 10L6.109 2.58c-.268-.27-.268-.707 0-.979.268-.27.701-.27.969 0l7.83 7.908c.268.271.268.709 0 .979l-7.83 7.908c-.268.271-.701.27-.969 0-.268-.269-.268-.707 0-.979L13.25 10z"></path>
        </symbol>

        <symbol viewBox="0 0 20 20" id="large-arrow-down">
            <path d="M17.418 6.109c.272-.268.709-.268.979 0s.271.701 0 .969l-7.908 7.83c-.27.268-.707.268-.979 0l-7.908-7.83c-.27-.268-.27-.701 0-.969.271-.268.709-.268.979 0L10 13.25l7.418-7.141z"></path>
        </symbol>


        <symbol viewBox="0 0 24 24" id="jump-to">
            <path d="M19 7v4H5.83l3.58-3.59L8 6l-6 6 6 6 1.41-1.41L5.83 13H21V7z"></path>
        </symbol>

        <symbol viewBox="0 0 24 24" id="expand">
            <path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z"></path>
        </symbol>

    </defs>
</svg>

<div id="swagger-ui" class="api-platform"></div>

{% block javascript %}
    {% if (reDocEnabled and not swaggerUiEnabled) or (reDocEnabled and 're_doc' == active_ui) %}
        <script src="{{ asset('bundles/apiplatform/redoc/redoc.standalone.js', assetPackage) }}"></script>
        <script src="{{ asset('bundles/apiplatform/init-redoc-ui.js', assetPackage) }}"></script>
    {% else %}
        <script src="{{ asset('bundles/apiplatform/swagger-ui/swagger-ui-bundle.js', assetPackage) }}"></script>
        <script src="{{ asset('bundles/apiplatform/swagger-ui/swagger-ui-standalone-preset.js', assetPackage) }}"></script>
        <script src="{{ asset('bundles/apiplatform/init-swagger-ui.js', assetPackage) }}"></script>
    {% endif %}
{% endblock %}

</body>
</html>
