{% extends 'app_base.html.twig' %}

{% block section_title %}{{ organization.name }}{% endblock %}
{% block title %}{% trans %}organization.settings.title{% endtrans %}{% endblock %}

{% block page_tabs %}
	{% include 'app/_parts/organization_selector.html.twig' %}
{% endblock %}

{% block body %}
	<tabbed-container>
		<div id="basic-information">
			<h2>{% trans %}organization.settings.tabs.basic_information{% endtrans %}</h2>
			{{ form(form) }}
		</div>

		<div id="members">
			<div class="container space-between">
				<h2>{% trans %}organization.settings.tabs.members{% endtrans %}</h2>
				<organization-invite-button size="small" organizationId="{{ organization.id }}">
					<i class="fas fa-user-plus"></i>
					&nbsp;&nbsp;
					{% trans %}organization.settings.members.invite.button{% endtrans %}
				</organization-invite-button>
			</div>
			<organization-members-list organizationId="{{ organization.id }}" light></organization-members-list>
		</div>

		<div id="deletion">
			<h2>{% trans %}organization.settings.tabs.deletion{% endtrans %}</h2>
			<p>{% trans %}organization.delete.warning_text{% endtrans %}</p>
			{{ form(deletionForm) }}
		</div>
	</tabbed-container>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('organization') }}
{% endblock %}
